body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background3.jpg);

}

blockquote {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

nav {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    width: 130px;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

.menu {
 width: 25px;
 margin-top: 45%;   
}

.menu1 {
    font-size: 40px;
    color: red;
    text-decoration: underline;
    margin: 0;
}


hr {
    border-color: red;
}
section {
    text-align: center;
}

.server {
    width: 70%;
    margin: 2em auto 5%;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

.collection {
    display: flex;
}

.collection li {
    justify-content: center;
    margin: 0 auto 0 auto;
    list-style: none;
}

.collection p {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blue-container{
    width: 100%;
    background: #00C2FF;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.blue-container ul li p {
    margin-bottom: 3em;
}

marquee {
    font-weight: bolder;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}

.blue-container img {
    width: 70%;
    height: 50%;
}

.blue-container ul li:nth-child(3) img {
    width: 8%;
}

.gray-container {
    background: rgba(251, 255, 200, 0.719);
    padding: 4em 0 2em;
    margin-top: -3%;
    border-radius: 40px;
}

.gray-container img {
    width: 50%;
    height: 70%;
}

.gray-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #00C2FF;
}

h2 {
    margin-top: 7%;
}

.cta {
    background: rgb(204, 167, 0);
    width: calc(50% - 1em);
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
}

.footer-container {

    width: 100%;
    background: rgb(233, 225, 155);
    color: black;
}

ul.footer-links {
    margin: 0 auto;
}

.arts {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bolder;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul.footer-links li {
    display: inline-block;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(255, 255, 255);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: rgb(65, 73, 78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 10px;
    cursor: pointer;
}

@media only screen and (min-width : 650px) {
    .server {
        width: 50%;
    }

    h1 {
        font-size: 3em;
        margin: 0;
        
    }
    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }

    .blue-container {
        margin: 0;
    }

    .blue-container img {
        width: 10%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 11%;
        margin-top: -6px;
    }

    .blue-container ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .blue-container ul li p {
        padding: 0.8em;
    }

    .gray-container {
        display: flex;
    }

    nav ul {
        width: 40%;
    }
}

@media only screen and (min-width : 875px) {
    .subhead {
        margin-bottom: 5%;
        padding: 0;
    }

    .blue-container ul {
        margin: 4% 0 0;
    }
} 

@media only screen and (min-width : 1024px) {
    .cta {
        width: 50%;

    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
        color: red;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {      
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .scroll {
        width: 30px;
        animation: move 2s infinite alternate;
    }

    main{
        height: 402px;
        text-align: center;
        padding-top: 80px;
        padding-right: 240px;
        padding-left: 240px;
       
    }

    h1 {
        font-size: 84px;
        color: red;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
    @keyframes move {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }

    }

}

@media only screen and (min-width : 1600px) {
    .server {
        width: 40%;
        margin: 5em auto 4em 15%;
    }

    .container {
        width: 70%;
    }

    .blue-containerm {
        padding: 7em 0 2em;

    }

    .gray-container {
        padding: 6em 0 4em;
    }

    h2 {
        margin-top: 4em;
    }

    .blue-container img {
        width: 15%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 8%;
        margin-top: -4px;
    }
} 